.form {
  margin: 30px 0 30px;
  width: 350px;
  height: 250px;
  border: 2px solid lightcyan;
  background-color: lightcyan;
  border-radius: 5px;
}
.form label {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 75px;
  color: rgb(97, 12, 97);
}

.form input {
  width: 200px;
  height: 25px;
  background-color: rgb(238, 231, 238);
  border: 1px solid rgb(116, 26, 116);
  border-radius: 3px;
}

.form button {
  display: block;
  margin: 15px auto 0px;
  width: 100px;
  height: 30px;
  font-size: 15px;
  font-weight: 500;
  color: rgb(252, 252, 252);
  border: 2px solid rgb(177, 84, 177);
  border-radius: 3px;
  background-color: rgb(216, 155, 205);
  cursor: pointer;
}
